<!-- boilerplate के अंदर छोटे छोटे  हिस्से है जिसको हम लिखना चाहते है 
इन सभी छोटे छोटे हिस्से को views folder के अंदर  includes folder में रखेंगे 

boostrap में बहुत सारे template है बना बनाया हुआ ,आप उसको देखे और use करे 
eg. cards,navbar,button,alerts,.................
search boostrap -->


<!-- for icon ke liye search kare font awesome -->


 <!-- <div class=" row sticky-top" >
      <h3 class="mainTitle" >ApnaRoom.com</h3>
  </div> -->

  <!-- Title Section (Sticky) -->
<div class="bg-light border-bottom sticky-top  " style="z-index: 1031; background-color: rgb(6, 211, 211) !important;">
  <h3 class="text-center py-2 mb-0">ApnaRoom.com</h3>
</div>

  


<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top" style="top: 50px; z-index: 1030;">
  

  <div class="container-fluid">
  
   <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link " href="/">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Add new Listing</a>
       
      </div>
    </div>
  </div>
</nav>

