<!-- ye error ko styling ke liye use krte hai  -->

<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    
 <div class="alert alert-danger col-6 offset-3" role="alert">
  <p class="alert-heading"> <%= message %></p>
  
  <!-- <p>  err.stack </p> 

  â¬†ï¸ye err.stack likhne par error kaha se starts hua aur kaha tak jake  khatam hua sabhi ko deklhata hai   -->
</div>

</div>

